.cart {
    padding: 15px 0;
}

.cart input {
    padding-left: 5px;
}

.container {
    flex-direction: column;
}

.content {
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
}

.item img {
    width: 150px;
    height: auto;
}

.item p {
    margin: 0;
}

.summary {
    width: 50%;
    display: flex;
}
