.product {
    padding: 40px 20px;
}

.container {
    flex-direction: column;
}

.preview {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
}

.preview img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.addToCart {
    margin-bottom: 20px;
}

.tabs {
    margin: 0 0 2em;
    padding: 3px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.tabs button {
    padding: 20px;
    width: 33.3%;

    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;

    transition: .5s;
}

.active {
    background-color: white;
    color: #d1c286;
}
