.header {
  padding: 18px 0;
  height: 70px;
}

.container {
  height: 100%;
  justify-content: space-between;
}

.nav {
  list-style: none;
  display: flex;
}

.nav a {
  font-size: 13px;
  font-weight: 600;
  padding: 30px 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav a:hover {
  color: #000;
}

.title a {
  color: #000;
}
