.header {
  padding: 18px 0;
  height: 70px;
  width: 100%;

  background-color: white;
  
  position: fixed;
  top:0;
  z-index: 1;
}

.scrolled {
  box-shadow: 0px 2px 7px #ccc;
}

.container {
  height: 100%;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav a {
  font-size: 13px;
  font-weight: 600;
  padding: 30px 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav a:hover {
  color: #000;
}

.container > a {
  position: relative;
}

.container > a > span {
  position: absolute;
  background-color: #d0c386;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  top: -9px;
  right: -10px;
}
