.card {
    width: 550px;
    background-color: white;
    padding: 40px;
}

.card p {
    margin-bottom: 20px;
    line-height: 1.7;
    color: #828282;
}

.description {
    font-weight: 200;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    overflow: hidden;
}
